<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Google Fonts -->
    <!-- Swap out "Roboto" for the font(s) you want to use -->
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css" crossorigin="anonymous">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
    <!-- Your own CSS -->
    <link rel="stylesheet" href="/styles.css">

    <title>WEATHER FORECAST</title>
  </head>
  <body>
    <div class="container mt-5">
    <h1> The best APP for weather forecast and recent news!</h1>
      <h2>Set your location</h2>
      <form action="/news">
      <input type="text" name="q">
      <button type="submit"> Go here! </submit>
      </form>
    </div>

    <div class="container mt-5 text-center">
    <h2>WEATHER FORECAST </h2>
    </div>

    <div class="container mt-5 text-center" >
    <h3> Current weather </h3>
    <div class="row my-5">
    <div class="col-sm-6" >
    <p> Currently Temperature: <%=@current_temp%>
    </p>
    </div>
    <div class="col-sm-6" >
    <p> Current Conditions: <%=@current_cond%>
    </p>
    </div>
    </div>
    </div>
   
    <div class="container text-center" >
    <h3> Forecast for the next days </h3>
<div class="row my-5">
    <div class="col-sm-3">
<h5> Temp Max </h5>
<%= @deckhigh%>
        </div>
    <div class="col-sm-3">
<h5> Temp Min </h5>
<%= @decklow%>
     
        </div>
        <div class="col-sm-6">
<h5> Weather conditions </h5>
<%=@deckcond%>
     
        </div>
</div>
    

 <div class="container text-center" >
    <h3> Recent news </h3>
<div class="row my-5">
    <div class="col-sm-6">
<h5> Title </h5>
<% for news in @decktitle%>
     <p><%= news%> </p>
     <% end %>
        </div>
<div class="col-sm-6">
<h5> URL </h5>
<% for news in @deckurl%>
     <p><%= news%> </p>
     <% end %>
        </div>
</div>
    

 <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>